Package: xivo-dev-ssh-pubkeys
Version: 1.0-7
Architecture: all
Maintainer: XiVO DEV Team <dev@avencall.com>
Installed-Size: 7
Depends: ssh
Section: admin
Priority: extra
Description: XiVO SSH pubkeys
 This package installs xivo dev authorized_keys.
